*{
font-family: sans-serif;}
header{max-width: 1200px;
margin: auto;
margin-top: 20px ;
display: flex;
align-items: center;
justify-content: space-around;}
header ul{
    list-style: none;
    display: flex;
    gap: 15px;
}
.logo{width: 300px;}
header button{
    background-color: green;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    border: none;
}
.platform{
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
        justify-content: center;
align-content: center;
   background-image: url(./image/background.png)
}
main{max-width: 1200px;
margin: auto;}
.platform button{background-color: #FFBB8A;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
    border: none;
}
.platform aside{
    font-size: 20px;
    width: 440px;
}
.platform article{color: gray;
}
.platform span{color: green;}
.but article{font-size: 15px;
width: 240px;
margin-top: 20px;}
.but{display: flex;
align-items: center;
gap: 20px;}
.rekl{display: flex;
    width: 140px;
    gap: 25px;
    position: absolute;
    bottom: -20px;
}
.rekl img{width: 130px;}
.easy{margin-top: 80px;}
.box{display: flex;
justify-content: space-between;
align-items: center;}
.easy article{width: 550px;}
.podryd nav{display: flex;
align-items: center;
margin-top: 30px;
justify-content: space-between;}
.podryd img{width: 200px;
display: flex;
}
.podryd h1, .cen{text-align: center;
}
article{color: gray;}
.podryd button{
    height: 30px;
    text-align: center;
    border: none;
    background-color: white;
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 50%;}
.ch{background-color: #FFBB8A;
border-radius: 50%;
width: 20px;
margin-bottom: 30px;
height: 20px;
text-align: center;}
.visa nav{display: flex;
    gap: 10px;
}
.visa span{width: 550px;}
.visa h1{font-size: 35px;
width: 450px;}
.visa p{width: 600px;}
.card{
    border-radius: 15px;
width: 550px;
    padding: 20px;
    box-shadow: 1px 1px 1px 1px gray;}
.btn{background-color: #5EB083;
color: white;
margin-top: 10px;
border: none;
border-radius: 30px;
padding: 13px 25px;}
.ure button{
    margin: 30px 0;
    border: none;
    background-color: #E7EEFA;
    border-radius: 30px;
    padding: 5px;
}
.ure{margin-top: 40px;}